version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: expense_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"